*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: #222;
    font-family: sans-serif;

}

a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    color: whitesmoke; 
}

h1{
    font-weight: 800;
    font-size: 3.6rem;
    margin: 1.6rem;
}

h2{
    font-weight: 800;
    font-size: 2.4rem;
    margin: 1.6rem 0;
}

p{
    font-weight: 400;
    font-size: 1.8rem;
    margin: 1.6rem 0;
}

img{
    width: 100%;
    height: auto;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section{
    padding: 100px 0;
}

header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.6)),url('img/mauy-thai.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
}

.logo h1{
    font-size: 3.2rem;
    color: whitesmoke;
    margin: 0;

}

nav{
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;

}

nav ul li{
    display: inline-block;
}

/* nav{
    display: flex;
    justify-content: space-around;
    background-color: #333;
    height: 80px;
}

.logo{
    width: 250px;
}

.logo a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 15px;
}
.logo span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: mediumaquamarine;
} */



/* }
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #eeff02;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.25s;
}

.navbar ul li:hover::after{
    width: 100%;
} */